<!DOCTYPE html>
<html lang="en">

<%- include(head) %>

<body id="abc">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include(sidebar) %>
            </div>
            <div class="col-sm-4">
                <h1>
                    <%= title %>
                </h1>
                <hr>
                <h1><%= category.name %></h1>

                <p><%= category.description %></p>
                <hr>

                <% if (tea_list.length > 0){ %>
                    <h6>You must delete the following teas before deleting this category:</h6>
                    <% tea_list.forEach(tea=>{ %>
                        <a href="<%= tea.url %>"><%= tea.name %></a>     
                    <% }) %>
                <% } else { %>
                    <h6>Do you really want to delete this Category?</h6>
                    <form method="POST" action="">
                        <div class="form-group">
                            <input id="categoryid" class="form-control" type="hidden" name="categoryid" required="true" value="<%= category._id %>">
                        </div>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                <% } %>

            </div>
        </div>
    </div>
</body>

</html>