<!DOCTYPE html>
<html lang="en">

<%- include(head) %>

<body id="abc">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include(sidebar) %>
            </div>
            <div class="col-sm-4">
                <h1>
                    <%= title %>
                </h1>
                <hr>
                <h1><%= category.name %> Tea</h1>

                <p><%= category.description %></p>
                <% if (tea_list.length > 0) { %>
                    <h4>All available types of <%= category.name %> tea:</h4>
                    <ul>
                        <% tea_list.forEach(function(tea) { %>
                            <li>
                                <a href="<%= tea.url %>">
                                    <%= tea.name %>
                                </a>
                                <p><%= tea.description %></p>
                            </li>
                        <% }); %>
                    </ul>
                <% } else { %>
                    <h4>There is no tea yet for this category.</h4>
                <% } %>
                <hr>
                <p><a href="<%= category.url %>/delete">Delete category</a></p>
                <p><a href="<%= category.url %>/update">Update category</a></p>
            </div>
        </div>
    </div>
</body>

</html>