<!DOCTYPE html>
<html lang="en">

<%- include(head) %>

<body id="abc">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include(sidebar) %>
            </div>
            <div>
                <h1>
                    <%= title %>
                </h1>
                <hr>
                <h1><%= tea.name %></h1>

                <p><%= tea.description %></p>
                <p><strong>Price:</strong> <%= tea.price %></p>
                <p><strong>In stock:</strong> <%= tea.stock %></p>
                <p><strong>Category: <a href="<%= tea.category.url %>"><%= tea.category.name %></a></strong></p>
            </div>
        </div>
    </div>
</body>

</html>